#Formatfont{
  font-family: "Kantumruy Pro", sans-serif;
}
#Header{
   font-family: "Koulen", sans-serif;;
}
#Header1{
   font-family:Impact, sans-serif;
   letter-spacing: 1px;
}
.bg{
   background-image: url("./img/bg.jpg");
}